 
$item-color: white;
$item-background: #ceb1beff;
$item-border: 1px solid #ceb1beff;
$item-selected-color: white;
$item-selected-background: #ffc107;
$item-selected-border: 1px solid #ff9800;

$row-background-even: transparent;
$row-background-odd: rgba(0, 0, 0, 0.05);

$border-color: #bbb;
$border-width: 1px;
$thick-border-width: 2px;
$sidebar-color: #ffffff;
$sidebar-background-color: #c52020;
$list-item-padding: 0 4px;
$weekend: rgba(250, 246, 225, 0.5);

.react-calendar-timeline {
  * {
    box-sizing: border-box;
  }

  .rct-outer {
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }

  .rct-scroll {
    display: inline-block;
    white-space: normal; // was set to nowrap in .rct-outer
    vertical-align: top;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-touch-action: none;
    touch-action: none;
  }

  .rct-item {
    
    &:hover {
      z-index: 88;
    }
    
    /*text*/
    .rct-item-content {
      color: black;
      position: sticky;
      position: -webkit-sticky;
      left: 0px;
      overflow: hidden;
      display: inline-flex;
      border-radius: 2px;
      padding: 0 6px;
      height: 45px;
    }
  }

  .rct-sidebar {
    overflow: hidden;
    white-space: normal; // was set to nowrap in .rct-outer
    display: inline-block;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    border-right: $border-width solid $border-color;

    &.rct-sidebar-right {
      border-right: 0;
      border-left: $border-width solid $border-color;
    }

    .rct-sidebar-row {
      padding: $list-item-padding;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      box-sizing: border-box;
      margin: 0;
      border-bottom: $border-width solid $border-color;

      &.rct-sidebar-row-odd {
        background: $row-background-odd;
      }
      &.rct-sidebar-row-even {
        background: $row-background-even;
      }
    }
  }

  // TODO: rename or remove once we make breaking change to rename vertical lines
  // to columns
  .rct-vertical-lines {
    .rct-vl {
      position: absolute;
      border-left: 1px solid $border-color;
      z-index: 30;
      &.rct-vl-first {
        border-left-width: 2px;
      }
      &.rct-day-6,
      &.rct-day-0 {
        background: $weekend;
      }
    }
  }

  .rct-horizontal-lines {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    .rct-hl-even,
    .rct-hl-odd {
      border-bottom: $border-width solid $border-color;
      box-sizing: border-box;
      z-index: 40;
    }
    .rct-hl-odd {
      background: $row-background-odd;
    }
    .rct-hl-even {
      background: $row-background-even;
    }
  }

  .rct-cursor-line {
    position: absolute;
    width: 2px;
    background: $item-background;
    z-index: 51;
  }

  /* underneath the date, hours */
  .rct-dateHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-bottom: 1px solid #bbb;
    cursor: pointer;
    font-size: 14px;
    background-color: rgb(240, 240, 240);
    border-left:  2px solid #bbb;
  }

  .rct-dateHeader-primary {
    background-color: initial;
    border-left:  1px solid #bbb;
    border-right: 1px solid #bbb;
    color: #fff
  }

  /* top solidbar of schedule*/
  .rct-header-root {
    background: rgba(45, 45, 52, 1);
    border-bottom: 1px solid #bbb;
   
  }

  .rct-calendar-header {
    border: 1px solid #bbb,

  }

}



// /* SCSS HEX */
// $lavender-blush: #f1e4e8ff;
// $gainsboro: #e2dcdeff;
// $thistle: #ceb1beff;
// $old-rose: #b97375ff;
// $raisin-black: #2d2d34ff;

// /* SCSS HSL */
// $lavender-blush: hsla(342, 32%, 92%, 1);
// $gainsboro: hsla(340, 9%, 87%, 1);
// $thistle: hsla(333, 23%, 75%, 1);
// $old-rose: hsla(358, 33%, 59%, 1);
// $raisin-black: hsla(240, 7%, 19%, 1);

// /* SCSS RGB */
// $lavender-blush: rgba(241, 228, 232, 1);
// $gainsboro: rgba(226, 220, 222, 1);
// $thistle: rgba(206, 177, 190, 1);
// $old-rose: rgba(185, 115, 117, 1);
// $raisin-black: rgba(45, 45, 52, 1);